<!DOCTYPE html>
<html>
<head>
	<title>Entry</title>
</head>
<body>
<a href="/">Torna al menu principal.</a>

<% if (data.entry == 0) { %>
<h2>S'ha iniciat sesio correctament.</h2>

<% } else { %>
<h2>Usuari i/o contrasenya no coincideixen.</h2><% } %>
</body>
</html>