<!DOCTYPE html>
<html>
<head>
	<title>Login</title>
</head>
<body>
	<a href="/">Torna al menu principal.</a>
	<h2>login form</h2>
	<form action="entry.ejs" method="POST">
		<input type="text" name="usuari" placeholder="nom d'usuari"/>
		<br>
		<input type="password" name="contrasenya" placeholder="contrasenya" />
		<br>
		<input type="submit" name="enviament"/>
	</form>


</body>
</html>