<!DOCTYPE html>
<html>
<head>
	<title>Registre</title>
</head>
<body>
	<a href="/">Torna al menu principal.</a>
	<h2>Registre Form</h2>
<form method="post" action="/">
	<label>Usuari: </label><input type="text" name="usuari">
	<br>
	<label>Contrasenya: </label><input type="password" name="contrasenya" placeholder="contrasenya">
	<br>
	<input type="submit" name="enviament">
<form>
</body>
</html>